USE [master]
GO
/****** Object:  Database [DishesApplicationDB]    Script Date: 18.03.2024 14:48:17 ******/
CREATE DATABASE [DishesApplicationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DishesApplicationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DishesApplicationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DishesApplicationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DishesApplicationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DishesApplicationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DishesApplicationDB]
GO
/****** Object:  Table [dbo].[CategoryProducts]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProducts](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoryProducts] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProducts]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductArticleNumber] [varchar](6) NOT NULL,
	[CountProduct] [int] NOT NULL,
 CONSTRAINT [PK_OrderProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderDeliveryDate] [date] NOT NULL,
	[OrderPickupPointId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickupPointAddresses]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPointAddresses](
	[PointId] [int] IDENTITY(1,1) NOT NULL,
	[PickupPointAddress] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PickupPointAddresses] PRIMARY KEY CLUSTERED 
(
	[PointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductArticleNumber] [varchar](6) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductDescription] [varchar](255) NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductPhoto] [varchar](max) NULL,
	[ManufacturerId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[ProductCost] [decimal](18, 2) NOT NULL,
	[ProductDiscountAmount] [decimal](18, 2) NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[CurrentDiscount] [decimal](18, 2) NULL,
	[ProductQuantityInStock] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ProviderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Providers] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrders]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrders](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StatusOrders] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.03.2024 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Patronomic] [varchar](50) NULL,
	[Login] [varchar](255) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[UserRoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryProducts] ON 

INSERT [dbo].[CategoryProducts] ([CategoryId], [Category]) VALUES (1, N'Кастрюли')
INSERT [dbo].[CategoryProducts] ([CategoryId], [Category]) VALUES (2, N'Сервиз')
INSERT [dbo].[CategoryProducts] ([CategoryId], [Category]) VALUES (3, N'Сковорода')
SET IDENTITY_INSERT [dbo].[CategoryProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (1, N'Webber')
INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (2, N'Luminarc')
INSERT [dbo].[Manufacturers] ([ManufacturerId], [Name]) VALUES (3, N'Нева')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProducts] ON 

INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductArticleNumber], [CountProduct]) VALUES (1, 1, N'А112Т4', 2)
INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductArticleNumber], [CountProduct]) VALUES (2, 1, N'D548T5', 2)
INSERT [dbo].[OrderProducts] ([Id], [OrderId], [ProductArticleNumber], [CountProduct]) VALUES (3, 2, N'F735F5', 3)
SET IDENTITY_INSERT [dbo].[OrderProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPointId], [UserId], [Code]) VALUES (1, 1, CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), 13, 1, 301)
INSERT [dbo].[Orders] ([OrderId], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPointId], [UserId], [Code]) VALUES (2, 2, CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), 12, 7, 302)
INSERT [dbo].[Orders] ([OrderId], [OrderStatus], [OrderDate], [OrderDeliveryDate], [OrderPickupPointId], [UserId], [Code]) VALUES (3, 1, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 13, 2, 303)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PickupPointAddresses] ON 

INSERT [dbo].[PickupPointAddresses] ([PointId], [PickupPointAddress]) VALUES (1, N'344288, г. Краснокаменск, ул. Чехова, 1')
INSERT [dbo].[PickupPointAddresses] ([PointId], [PickupPointAddress]) VALUES (2, N'614164, г.Краснокаменск,  ул. Степная, 30')
INSERT [dbo].[PickupPointAddresses] ([PointId], [PickupPointAddress]) VALUES (3, N'394242, г. Краснокаменск, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[PickupPointAddresses] OFF
GO
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ManufacturerId], [ProviderId], [ProductCost], [ProductDiscountAmount], [MaxDiscount], [CurrentDiscount], [ProductQuantityInStock]) VALUES (N'A395T3', N'Набор кастрюль', N'Набор кастрюль Эмаль Дача 2-3194/4 белый', 1, N'638456103465692741_D644G3.jpg', 1, 1, CAST(2150.00 AS Decimal(18, 2)), NULL, CAST(15.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), 13)
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ManufacturerId], [ProviderId], [ProductCost], [ProductDiscountAmount], [MaxDiscount], [CurrentDiscount], [ProductQuantityInStock]) VALUES (N'C367R6', N'Набор кастрюль', N'Набор кастрюль Webber BE-336/6 6 пр. серебристый', 1, N'638456104950920107_N835D4.jpg', 1, 1, CAST(3600.00 AS Decimal(18, 2)), NULL, CAST(15.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), 7)
INSERT [dbo].[Products] ([ProductArticleNumber], [ProductName], [ProductDescription], [ProductCategoryId], [ProductPhoto], [ManufacturerId], [ProviderId], [ProductCost], [ProductDiscountAmount], [MaxDiscount], [CurrentDiscount], [ProductQuantityInStock]) VALUES (N'C425F8', N'Набор посуды', N'Набор обеденной посуды Mason Cash Classic 12 предметов серый', 1, N'638456105351704294_D548T5.jpg', 1, 1, CAST(5990.00 AS Decimal(18, 2)), NULL, CAST(15.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 9)
GO
SET IDENTITY_INSERT [dbo].[Providers] ON 

INSERT [dbo].[Providers] ([ProviderId], [Name]) VALUES (1, N'Максидом')
INSERT [dbo].[Providers] ([ProviderId], [Name]) VALUES (2, N'Домовой')
SET IDENTITY_INSERT [dbo].[Providers] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrders] ON 

INSERT [dbo].[StatusOrders] ([StatusId], [Status]) VALUES (1, N'Завершен')
INSERT [dbo].[StatusOrders] ([StatusId], [Status]) VALUES (2, N'Новый ')
SET IDENTITY_INSERT [dbo].[StatusOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Surname], [Name], [Patronomic], [Login], [Password], [UserRoleId]) VALUES (1, N'Федоров', N'Глеб', N'Михайлович', N'o@outlook.com', N'2L6KZG', 1)
INSERT [dbo].[Users] ([UserId], [Surname], [Name], [Patronomic], [Login], [Password], [UserRoleId]) VALUES (2, N'Семенова', N'Софья', N'Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67', 1)
INSERT [dbo].[Users] ([UserId], [Surname], [Name], [Patronomic], [Login], [Password], [UserRoleId]) VALUES (3, N'Васильев', N'Егор', N'Германович', N'kaft93x@outlook.com', N'8ntwUp', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Login]    Script Date: 18.03.2024 14:48:17 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [AK_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Orders]
GO
ALTER TABLE [dbo].[OrderProducts]  WITH CHECK ADD  CONSTRAINT [FK_OrderProducts_Products] FOREIGN KEY([ProductArticleNumber])
REFERENCES [dbo].[Products] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[OrderProducts] CHECK CONSTRAINT [FK_OrderProducts_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickupPointAddresses] FOREIGN KEY([OrderPickupPointId])
REFERENCES [dbo].[PickupPointAddresses] ([PointId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickupPointAddresses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_StatusOrders] FOREIGN KEY([OrderStatus])
REFERENCES [dbo].[StatusOrders] ([StatusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_StatusOrders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CategoryProducts] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[CategoryProducts] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CategoryProducts]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufacturers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Providers] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Providers] ([ProviderId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Providers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
